@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 71% 10%;
    --card: 60 56% 94%;
    --card-foreground: 25 71% 10%;
    --popover: 60 56% 94%;
    --popover-foreground: 25 71% 10%;
    --primary: 135 30% 30%;
    --primary-foreground: 60 56% 91%;
    --secondary: 135 15% 60%;
    --secondary-foreground: 135 30% 20%;
    --muted: 135 15% 80%;
    --muted-foreground: 135 15% 40%;
    --accent: 25 71% 31%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 15% 80%;
    --input: 135 15% 85%;
    --ring: 135 30% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 135 10% 10%;
    --foreground: 60 56% 91%;
    --card: 135 10% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 135 10% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 135 30% 40%;
    --primary-foreground: 60 56% 91%;
    --secondary: 135 15% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 135 10% 25%;
    --muted-foreground: 60 20% 65%;
    --accent: 25 71% 41%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 10% 25%;
    --input: 135 10% 25%;
    --ring: 135 30% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
